# 1) Load dataset from hugging face.

In [1]:
import pandas as pd

splits = {'train': 'data/train-00000-of-00001.parquet', 'validation': 'data/validation-00000-of-00001.parquet'}
train = pd.read_parquet("hf://datasets/stanfordnlp/sst2/" + splits["train"])
validation = pd.read_parquet("hf://datasets/stanfordnlp/sst2/" + splits["validation"])

/home/aravindh/.cache/pypoetry/virtualenvs/text-classification-W2T9-0UR-py3.11/lib/python3.11/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

# 2) View the dataset.

In [2]:
train.head()

   idx                                           sentence  label
0    0       hide new secretions from the parental units       0
1    1               contains no wit , only labored gags       0
2    2  that loves its characters and communicates som...      1
3    3  remains utterly satisfied to remain the same t...      0
4    4  on the worst revenge-of-the-nerds clichés the ...      0

In [3]:
validation.head()

   idx                                           sentence  label
0    0    it 's a charming and often affecting journey .       1
1    1                 unflinchingly bleak and desperate       0
2    2  allows us to hope that nolan is poised to emba...      1
3    3  the acting , costumes , music , cinematography...      1
4    4                  it 's slow -- very , very slow .       0

In [4]:
test.head()

   idx                                           sentence  label
0    0             uneasy mishmash of styles and genres .     -1
1    1  this film 's relationship to actual tension is...     -1
2    2  by the end of no such thing the audience , lik...     -1
3    3  director rob marshall went out gunning to make...     -1
4    4  lathan and diggs have considerable personal ch...     -1

# 3) Save dataset to Local storage

In [5]:
train.to_parquet('../data/raw/train.parquet')

In [6]:
validation.to_parquet('../data/raw/val.parquet')